:root {
  --primary-color: #4e36e2;
  --secondary-color: #00c6ae;
  --background-color: #f5f5f5;
  --text-color: #1c1c1c;
  --font-family: var(--font-montserrat);
  --radius: 12px;
  --bar-color: rgb(182, 182, 182);
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--font-montserrat);
  background-color: white;
  color: var(--text-color);
  justify-content: flex-start;
  width: 100%;
}
header {
  width: 100%;
}
main {
  flex: 1;
  width: 100%;
  max-width: 1400px;
  justify-content: flex-start;
  height: 100%;
}
/* footer {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 5rem;
} */

.home {
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}
header {
  width: 100%;
}
.hero {
  margin-bottom: 30px;
}

.hero-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.hero-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filters input {
  height: 58px;
  padding: 0 12px;
  border: 1px solid hsl(0, 0%, 80%);
  font-size: 14px;
  background: #f9f9f9;
  width: 49%;
  color: black;
}

.filters select {
  width: 23%;
  height: 58px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  color: black;
}

.competition-preview h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 12px;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: var(--radius);
  height: 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.mobile-search-wrapper {
  display: none;
}

@media (max-width: 768px) {
  .filters {
    align-items: center;
    justify-content: space-between;
  }

  .filters input {
    display: none;
  }

  .filters select {
    width: 40%;
  }

  .mobile-search-wrapper {
    display: block;
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 100%;
    padding: 8px 16px;
    animation: slideUp 0.3s ease-out forwards;
  }

  .mobile-search-input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: black;
    background-color: white;
  }

  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
