.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  width: 100%;
  padding: 16px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navbar-container {
  max-width: 676px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.auth-buttons {
  display: flex;
  gap: 8px;
}

.nav-btn {
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
  color: white;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-btn.primary {
  background-color: white;
  color: black;
  border: none;
}

.nav-btn:hover {
  background-color: #222;
}

.nav-btn.primary:hover {
  background-color: #e5e5e5;
}
