.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageWrapper {
  flex: 1;
  display: flex ;
  flex-direction: column ;
  align-items: stretch ;
  justify-content: flex-start ;
  padding-top: 100px;
  width: 100%;
  box-sizing: border-box;
}
  
  .backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .backButton button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
.formContainer {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 120px;
}

  
  
  .formContainer h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
  
  }

  .formOverride {
  display: block; 
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
  
  
  .formInput {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .formInput label {
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
  }
  
  .formInput input,
  .formInput textarea {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
  }
  
  
  .formInput input[type="text"],
  .formInput input[type="date"],
  .formInput input[type="file"],
  .formInput textarea {
    width: 90%;
  }
  
  
  .uploadBox {
    border: 2px dashed #000;
    border-radius: 8px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    font-size: 36px;
    color: #000;
  }
  
  .uploadBox:hover {
    background-color: #eaeaea;
  }
  
  
  .formInput button {
    background-color: #000;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .formInput button:hover {
    background-color: #333;
  }
  
  
  .gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  
  .socialRow {
    display: flex;
    gap: 20px;
  }
  
  .socialRow input {
    flex: 1;
  }
  
 
  @media (max-width: 600px) {
    .gridTwo {
      grid-template-columns: 1fr;
    }
  
    .socialRow {
      flex-direction: column;
    }
  }
  
  