.loginPage {
  height: 100vh;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 96px 30px 30px;
  background-color: min-rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.loginHeader {
  padding-top: 50px;
  margin-bottom: 30px;
}

.loginHeader h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  color: #000000;
  font-family: 'Inter', sans-serif;
}

.loginHeader p {
  font-size: 16px;
  color: #00000066;
  margin: 0;
}

.loginFormWrapper {
  width: 100%;
}

.loginForm {
  display: block;
}

.formFields {
  padding: 0 18px;
  margin-bottom: 24px;
}

.formFields > label {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.email {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  background-color: #f8f9fa;
  border: none;
  margin-bottom: 15px;
  padding: 0 10px;
}

.passwordWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.passwordWrapper input {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  background-color: #f8f9fa;
  border: none;
  padding: 0 10px;
  padding-right: 40px;
}

.passwordToggleIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.formOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rememberMe > label {
  font-size: 16px;
  color: #000000;
}

.forgotPasswordLink {
  font-size: 16px;
  color: #0e152566;
  text-decoration: none;
}

.errorText {
  color: red;
  font-size: 14px;
  margin-bottom: 1rem;
}

.formButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formButton > p {
  font-size: 16px;
  color: #0e152566;
}

.button {
  width: 40%;
  height: 54px;
  padding: 16px 32px;
  border-radius: 10px;
  color: white;
  background: #0e1525;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #222;
}

.signUpLink {
  margin-left: 20px;
  font-size: 16px;
  text-decoration: underline;
  color: #0e1525;
}
