.competitionItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid none;
  border-radius: 8px;
  padding: 1.2rem;
  transition: box-shadow 0.2s ease;
  margin-bottom: 1.5rem;
  background-color: #f8f9fa;
  text-decoration: none;
  color: inherit;
}

.competitionItem:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.organizer {
  color: #666;
  margin: 0 0 0.8rem 0;
  font-size: 0.9rem;
}

.competitionItem h4 {
  margin: 0 0 0.5rem 0;
  font-weight: 600;
}

.stats {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.statItem {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 0.9rem;
  padding: 6px 10px;
  border-radius: 10px;
  white-space: nowrap;
}

.like,
.share,
.save {
  background-color: #d9d9d9;
}
