.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.region {
  color: gray;
}

.about,
.competitions {
  background-color: #ffffff;
  /* background-color: green; */
  padding: 1rem;
  border-radius: 8px;
}

.competitions h3 {
  margin: 1rem 0;
}

.competitionsList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 440px) {
  .container {
    padding: 4rem 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    /* background-color: black; */
  }

  .header {
    flex-direction: column;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }

  .region {
  }

  .about {
    width: 100%;
    padding-left: 2rem;
  }
  .competitions {
    width: 100%;
    padding: 0 1rem;
    padding: 10px;
  }
  .about h3,
  .about p {
  }

  .competitions h3 {
    padding-left: 1rem;
  }

  .competitionsList {
    width: 100%;
    flex-wrap: wrap;
  }
}
