.uploadContainer {
  height: 100%;
  width: calc(100vw - 2rem);
  max-width: 720px;
  font-family: var(--font-family);
  margin-top: 20px;
}

.titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--bar-color);
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.closeIcon {
  background: none;
  color: black;
  border: 2px solid black;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
}

.nextButton {
  color: var(--primary-color);
}

.barTitle {
  font-size: 1.3rem;
}

.imageContainer {
  width: 100%;
  background-color: var(--bar-color);
  min-height: 40vh;
  /* or adjust as needed */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.imageIcon {
  color: grey;
}

.uploadFunctionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadFuncBar {
  padding: 1rem 0.3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.UploadTextIconContain,
.uploadButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 15px;
}

.UploadTextIconContain .uploadImageRight:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.uploadImagesIcon:hover,
.uploaCamera:hover,
.closeIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.lastestUploadedPics {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.7rem;
}

.lastestUploadedPics::-webkit-scrollbar {
  height: 8px;
}

.imageHoler {
  cursor: pointer;
  flex: 1 1 150px;
  max-width: 200px;
  aspect-ratio: 1 / 1;
}

.imageHoler:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.nextIcon {
  animation: colorWave 10s linear infinite;
}

@keyframes colorWave {
  0% {
    color: #4da3ff;
  }

  25% {
    color: #7fa9d6;
  }

  50% {
    color: #007afd;
  }

  75% {
    color: #4da6ff;
  }

  100% {
    color: #004fa4;
  }
}


@media (min-width: 700px) {
  .uploaCamera {
    display: none;
  }
}