.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.bottom {
  padding: 10px;
  text-align: center;
}

.voteCount {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 500;
}

.voteButton {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
  color: #444;
  transition: color 0.2s ease;
}

.voteButton.voted {
  color: #e63946;
}

.voteButton:disabled {
  opacity: 1;
  cursor: default;
}


.shareButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #444;
  cursor: pointer;
}

.shareButton > img {
  width: 18px;
  height: 15px;
  object-fit: cover;

}


.voteButton,
.shareButton {
  background: none;
  border: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.buttonGroupWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.8); /* Slight white opacity */
  padding: 6px 12px;
  margin-top: 8px;
}

