.navbar {
  background-color: black;
  color: white;
  width: 100%;
  padding: 0 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 10;
  height: 4rem;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
 aspect-ratio: 1;
}

.site-title {
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
  width: 105px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.nav-btn {
  all:unset;
  font-size: 20px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  background-color: transparent;
  color: black;
  cursor: pointer;


}
.nav-btn:hover{
  font-size: 25px;
  transition: ease-out 0.5s;

}

.logout-btn{
  all: unset;
  display: block;
  padding: 0.25rem 0;
  color: black;
  width: 100%;
  text-decoration: none;
  
}
.logout-btn:hover {
  background-color: lightgray;
  width: 100%;
}



.nav-btn:hover {
  background-color: #222;
}

.nav-btn.primary:hover {
  background-color: #e5e5e5;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards;
}

.navbar-subtitle-box {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
}

.navbar-subtitle {
  margin: 0;
  font-size: 14px;
  color: #333;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .auth-buttons {
    display: none;
  }

  .navbar-top {
    justify-content: center;
  }
}

.profile-menu-container {
  position: relative;
  background-color: white;
  height: calc(100% - 1rem);
  display: flex;
  border-radius: 50%;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile-menu-container:hover {
  transform: scale(0.8);
  transition: 0.5s;
}

.profile-menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 12rem;
  background: white;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  z-index: 100;
}

.profile-menu-dropdown a {
  display: block;
  padding: 0.25rem 0;
  color: black;
  width: 100%;
  text-decoration: none;
}

.profile-menu-dropdown a:hover {
  background-color: #eee;
  width: 100%;
}
.nav-btn:hover{
  background-color: transparent;
  transform: scale(1.2);
  transition: ease-in-out 0.5s;
  
}
