.container {
  display: flex;
  height: 100vh;
  padding-top: 60px;
}

.sidebar {
  width: 304px;
  padding: 1rem;
  border-right: 1px solid #ddd;
}

.main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  min-width: 600px;
}

.notifications {
  width: 300px;
  padding: 1rem;
  border-left: 1px solid #ddd;
  background-color: #fafafa;
  overflow-y: auto;
}
